PORT = ****
SECRET_KEY = **_******_***
SENTRY_DSN = '*********'

DATABASE = test-app
DB_USER = postgres
PASSWORD = ********
HOST = localhost
DIALECT = postgres

DATABASE_URL= 'postgresql://neondb_owner:npg_XQicg38ztlNL@ep-raspy-sound-adj4v2vy-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'