PORT = ****
SECRET_KEY = **_******_***
SENTRY_DSN = '*********'

DATABASE = test-app
DB_USER = postgres
PASSWORD = ********
HOST = localhost
DIALECT = postgres

DATABASE_URL= *************************